#menuComponent {
    margin: 0;
    height: 13vh;
    background-color: #FA8900;

}

#menuComponent menu {
    height: 100%;
    display: grid;
    list-style: none;
    grid-template-areas:
        "img img . home analysis history search logout . . .";
}

#menuComponent #solutecImage {
    height: 80%;
    margin-left: 5%;
    position: relative;
    top: 10%;
    bottom: 10%;
    grid-area: img;
    background-image: url(../../../public/logo_SOLUTEC.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

#menuComponent #home {
    grid-area: home;
    border-left: 2px solid white;
}

#menuComponent #analysis {
    grid-area: analysis;

}

#menuComponent #history {
    grid-area: history;

}

#menuComponent #search {
    grid-area: search;
}


#menuComponent #logout {
    grid-area: logout;

}

.menuLink {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8vw;
    color: white;
    text-decoration: none;
    border-right: 2px solid white;

}

.menuLink:hover {
    background-color: #E33F02;
}